body {
    margin: 0;
    padding: 0;
}

#nav {
    width: inherit;
    height: 850px
}

#leftNav {
    position: ab;
    height: 120px;
}

.img11 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

#midNav {
    position: relative;
    text-align: right;
    height: 120px;
}

#search {
    position: relative;
    top: 15%;
}

#midText {
    margin-left: 15%;
    position: relative;
    top: 20%;
    text-align: left
}

#input {
    width: 336px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #4eb5e1;
    font-family: cursive;
    font-size: 15px;
}

#register {
    margin-left: 20px;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    background: #96b82b;
    color: white;
    font-family: cursive;
    font-size: 18px;
}

#donate {
    margin-left: 20px;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    color: #96b82b;
    border: 2px solid #96b82b;
    font-family: cursive;
    font-size: 18px;
}

#donate:hover {
    background: #f4f4f4;
}

#souSuo {
    position: relative;
    left: 330px;
    top: 6px;
    color: #969696;
    font-size: 18px
}

#login {
    margin-left: 10px;
    width: 125px;
    height: 50px;
    color: #96b82b;
    font-family: cursive;
    font-size: 18px;
    border: 0
}

#new1Text2 {
    color: #676767;
    width: 150px;
    font-size: 20px;
}

#navtext1 {
    width: 92px;
    border: 0;
    color: #4eb5e1;
    font-size: 22px;
    text-align: left;
    position: relative;
    top: -1px;
}

#navT {
    border: 0
}

#navT:hover {
    background: #FFFFFF
}

#navText2 {
    color: #676767;
    width: 250px;
    border: 0;
    font-size: 20px;
    border: 0
}

#theme {
    width: inherit;
    height: 765px;
    text-align: center;
}

#themeImg {
    position: relative;
    display: inline-block;
    transform: translate(5%, 30%)
}

#themeText {
    color: aliceblue;
    display: block;
    transform: translate(0, 350%);
}

#BrowseDevices {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background: white;
    color: #3892b6;
    font-family: cursive;
    font-size: 18px;
    border: 5px solid #3892b6
}

#themeBtn {
    display: block;
    transform: translate(0, 290%)
}

#BrowseDevelopers {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background: white;
    color: #96b82b;
    font-family: cursive;
    font-size: 18px;
    border: 5px solid #96b82b
}

#browseDevelopers {
    font-size: 20px
}

#offer {
    position: relative;
    width: inherit;
    height: 560px;
    top: -28px;
    text-align: center;
    background: #fafafa;
}

#WWO {
    position: relative;
    top: -40px;
    font-family: sans-serif;
    letter-spacing: 10px;
    font-size: 45px;
    color: #585858
}

#offImg {
    position: relative;
    top: 60PX;
    text-align: center

}

#News {
    position: relative;
    width: inherit;
    height: 400px;
    top: 40px;
    text-align: center;
}

#newsText {
    height: 500px;
}

#news1Text {
    font-size: 25px;
    font-family: inherit
}

#news1btn {
    background: #96b82b;
}

#new1Text1 {
    color: aliceblue;
    width: 150px;
    font-size: 20px;
    border: 0;
}

#new2Text1 {
    color: aliceblue;
    width: 120px;
    font-size: 20px;
    border: 0;
}

#new2Text2 {
    color: #676767;
    width: 120px;
    font-size: 20px;
}



#news1TextBlue {
    position: relative;
    text-align: left;
    color: #4eb5e1;
    font-size: 15px;
    font-family: sans-serif
}

#news1TextBlack {
    position: relative;
    color: #676767;
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
    left: 1px
}

#navText {
    color: #676767;
    width: 150px;
    border: 0;
    font-size: 20px;
    border: 0
}

#new111 {
    position: relative;
    top: 50px;
}

#news1Text67 {
    position: relative;
    transform: translate(0, 100%);
    color: #676767;
    font-family: sans-serif;
    text-align: left;
    left: 20px
}

#hr {
    size: 6px;
    color: aquamarine
}

#new222 {
    position: relative;
    top: 80px;
}

#news1TextBlue1 {
    position: relative;
    text-align: left;
    color: #4eb5e1;
    font-size: 15px;
    font-family: sans-serif
}

#shareText {
    position: relative;
    top: 150px;
    font-size: 500px;
    text-align: left;
    color: #cadb96
}

#share {
    background: #f8f8f8;
    text-align: center;
    height: 800px
}

#shareImg {
    position: relative;
    top: -700px;
}

#totalText {
    text-align: center;
    height: 250px;
    position: relative;
    top: 50%;
    transform: translate(0, 50%);
    font-size: 45px;
    color: #118dc0;
}

#total {
    text-align: center;
}

#TopImg {
    text-align: center
}

#topW {
    position: relative;
    top: -850px;
    width: inherit;
}

#img22 {
    position: relative;
    top: -15px
}

#totalDev {
    position: relative;
    top: -375PX;
    color: #118dc0;
    font-size: 25px;
    left: -24px
}

#totalFil {
    position: relative;
    top: -375PX;
    color: #118dc0;
    font-size: 25px;
    left: -67px
}

#totalMonth {
    position: relative;
    top: -375PX;
    color: #118dc0;
    font-size: 25px;
    left: 63px
}

#totalDevices {
    position: relative;
    top: -375PX;
    color: #118dc0;
    font-size: 25px;
    left: 15px
}

#bottom {
    text-align: center;
    width: inherit;
    height: 250px;
    background: #363636;
    position: relative;
}

#boImg {
    position: relative;
    transform: translate(0, 43%)
}



#bomCom {
    position: relative;
    color: antiquewhite;
    top: 20px;
    font-size: 18px
}

#bomText1 {
    position: relative;
    color: antiquewhite;
    font-family: monospace;
    cursor: pointer;
    font-size: 18px;
    top: 20px
}

#bomText2 {
    position: relative;
    color: antiquewhite;
    font-family: monospace;
    cursor: pointer;
    font-size: 18px;
    top: 25px
}

#bomText3 {
    position: relative;
    color: antiquewhite;
    font-family: monospace;
    cursor: pointer;
    font-size: 18px;
    top: 30px
}

#bomComm {
    position: relative;
    color: antiquewhite;
    top: 20px;
    font-size: 20px
}

#boBtn {
    position: relative;
    transform: translate(0, 42%)
}

#boTH {
    position: relative;
    transform: translate(42%, 33%)
}

#bomBtn {
    font-family: monospace;
    cursor: pointer;
}

#boTH1 {
    position: relative;
    transform: translate(21%, 33%)
}

#boTH2 {
    position: relative;
    transform: translate(0%, 33%)
}
