body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

a :link {
    text-decoration: none;
}

a :visited {
    text-decoration: none;
}

a :active {
    text-decoration: none;
}

.menu {
    font-size: 30px;
    width: 400px;
    height:600px;
    background: #ccc;
    text-align: center;
    color: aliceblue;
    position: relative;
/*    overflow: hidden*/
}

.menuText {
    position: relative;
    top: 50%;
    transform: translate(-50%,-50%);
/*    position: relative;*/
    width: 200px;
    height: 200px;
    top: 50px;
    display: inline-block;
    background: red;
    height: 200px;
    padding: 20px;
/*    margin: 20px;*/
    border: 10px solid yellow;
    text-align: center;
}
/*

.menu:hover {
    color: aquamarine;
    background: #989898;
}
*/

/*
.menu:active {
    color: #336051;
    background: #6a6a6a;
}
*/
/*

@keyframes moveup100 {
    from {
        top: 0;
    }
    to {
        top: 100px;
    }
}
 .menuText:hover {
     animation: moveup100 1s 1;
}
*/

.menuTextup {
    height: 100px;
    position: relative;
    top: 16px;
    color: red;
}

.menuTextdown {
     height: 100px;
    position: relative;
    top: 16px;
    color: red;
}

.neibu {
    margin-top: 50%;
    transform: translate(0,-50%);
    width: 100px;
    height: 100px;
    background: green;
    border: 10px solid yellow;
    display: inline-block;
/*    overflow: hidden;*/
}


